body {
    background: cadetblue;
}

#burger-img {
    max-width: 250px;
}

#header {
    margin-bottom: 20px;
    margin-top: 20px;
    min-height: 250px;
    position: relative;
}

#head-h2 {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding-right: 25px;
}

.burger-entry {
    margin-top: 35px;
}

#burger {
    margin-bottom: 20px;
}

.card {
    margin: 5px;
}



.center {
    margin: auto!important;
}

.strikethrough {
    text-decoration: line-through;
    color: lightgray;
    padding: 5px;
}